@font-face {
  font-family: 'Noe Display Black';
  src: url(../../assets/fonts/noe-display/NoeDisplay-Black.ttf);
}

@font-face {
  font-family: 'Noe Display Bold';
  src: url(../../assets/fonts/noe-display/NoeDisplay-Bold.ttf);
}

@font-face {
  font-family: 'Noe Display Medium';
  src: url(../../assets/fonts/noe-display/NoeDisplay-Medium.ttf);
}

@font-face {
  font-family: 'Poppins Light';
  src: url(../../assets/fonts/poppins/Poppins-Light.ttf);
}

@font-face {
  font-family: 'Poppins Bold';
  src: url(../../assets/fonts/poppins/Poppins-Bold.ttf);
}

* {
  padding: 0;
  margin: 0;
}

a, a:hover, a:visited, a:active {
  text-decoration: none;
}

h1 {
  font-size: 1.875rem;
  font-family: "Noe Display Black", serif;
  line-height: 37px;
  color: #FFFFFF;
}

h2 {
  font-size: 1.5rem;
  font-family: "Noe Display Black", serif;
  line-height: 22px;
  color: #FFFFFF;
}

h3 {
  font-size: 0.99rem;
  font-family: "Noe Display Bold", serif;
  line-height: 26px;
  color: #FFFFFF;
}

h4 {
  font-size: 0.875rem;
  font-family: "Noe Display Bold", serif;
  line-height: 22px;
  color: #FFFFFF;
}

a {
  font-size: 0.75rem;
  line-height: 18px;
  font-family: "Poppins Light", Arial, sans-serif;
  color: #FFFFFF;
}

p {
  line-height: 18px;
  font-size: 0.75rem;
  color: #FFFFFF;
  font-family: "Poppins Light", Arial, sans-serif;
}

strong {
  line-height: 18px;
  font-size: 0.75rem;
  color: #FFFFFF;
  font-family: "Poppins Bold", Arial, sans-serif;
}

img {
  max-width: 100%;
  width: 100%;
}

@media screen and (min-width: 640px) {
  h1 {
    font-size: 3.75rem;
    line-height: 64px;
  }
  h2 {
    font-size: 2.375rem;
    line-height: 32px;
  }
  h3 {
    font-size: 1.375rem;
    line-height: 22px;
  }
  h4 {
    font-size: 1rem;
    line-height: 22px;
  }
  a {
    font-size: 1rem;
  }
  p {
    font-size: 1rem;
    line-height: 22px;
  }
  strong {
    font-size: 1rem;
    line-height: 22px;
  }
}

.tag-category {
  padding: 11px 20px;
  background-color: #F9C722;
  color: #000;
  font-family: "Poppins Bold", Arial, sans-serif;
  display: inline-block;
  margin: 20px 0;
}

.link-button {
  font-size: 0.75rem;
  line-height: 18px;
  font-family: "Poppins Light", Arial, sans-serif;
  color: #FFFFFF;
  display: inline-block;
}

.link-button:hover, .link-button:active {
  color: #F9C722;
}

.decoration {
  color: #F9C722;
}

.card {
  border: 1px solid #3E3E3E;
  padding: 20px 14px;
  width: 40%;
  margin-bottom: 20px;
}

.card img.icon {
  width: 17%;
  margin: 15px 0;
}

.card h3 {
  padding-bottom: 5px;
}

.card p {
  padding-top: 5px;
}

.summary {
  padding-bottom: 20px;
}

.title-project {
  padding-bottom: 25px;
}

@media screen and (min-width: 640px) {
  .link-button {
    font-size: 1rem;
  }
  .container {
    width: 70%;
    margin: 0 auto;
  }
  .project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .project .content-summary .title-project, .project .content-summary .summary {
    width: 65%;
  }
  .project .image-projet {
    width: 100%;
  }
  .project .image-projet img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 350px;
    height: 350px;
  }
}

header.header {
  background-color: #022222;
  padding: 10px 0;
  border-bottom: 1px solid #3E3E3E;
  position: fixed;
  width: 100%;
  background: rgba(0, 34, 34, 0.3);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
}

header.header img.logo {
  display: block;
  margin: 0 auto;
  width: 20%;
}

div.sidebar {
  display: none;
}

@media screen and (min-width: 640px) {
  header.header {
    padding: 20px 0;
  }
  header.header img.logo {
    width: 5%;
  }
  div.sidebar {
    position: fixed;
    bottom: 0;
    height: 100vh;
    width: 100px;
    border: 1px solid #3E3E3E;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  div.sidebar div {
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #3E3E3E;
    color: #FFFFFF;
  }
}

footer {
  background-color: #022222;
  padding: 10px 10px;
}

footer p {
  text-align: center;
  font-size: 0.6875rem;
}

#section-hero-banner,
#cards-hero,
#section-projects,
#section-outils-que-jutilise,
#section-about,
#section-bloom,
#section-gaupx {
  background-color: #022222;
  background-image: url("../../assets/images/background-texture.png");
  background-repeat: repeat;
  background-size: auto;
  padding: 50px 20px 0 20px;
}

#section-hero-banner {
  padding-top: 125px;
}

#section-hero-banner h1 {
  padding-top: 22px;
  font-size: 48px;
  line-height: 55px;
}

#section-hero-banner h4 {
  color: #F9C722;
  letter-spacing: 1px;
  padding-bottom: 20px;
}

#cards-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#section-projects .project:first-child {
  padding-bottom: 50px;
}

@media screen and (min-width: 640px) {
  #cards-hero,
  #section-projects,
  #section-outils-que-jutilise,
  #section-about,
  #section-bloom,
  #section-gaupx {
    padding-left: 101px;
  }
  #section-hero-banner {
    padding: 150px 0px 90px 101px;
  }
  #section-hero-banner h1 {
    font-size: 90px;
    line-height: 84px;
  }
  #section-hero-banner .summary {
    width: 45%;
  }
  #cards-hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    padding: 0;
    padding-left: 101px;
  }
  #section-projects .project:first-child {
    padding-bottom: 140px;
  }
}
/*# sourceMappingURL=index.css.map */