@font-face {
  font-family: 'Noe Display Black';
  src: url(../../assets/fonts/noe-display/NoeDisplay-Black.ttf);
}

@font-face {
  font-family: 'Noe Display Bold';
  src: url(../../assets/fonts/noe-display/NoeDisplay-Bold.ttf);
}

@font-face {
  font-family: 'Noe Display Medium';
  src: url(../../assets/fonts/noe-display/NoeDisplay-Medium.ttf);
}

@font-face {
  font-family: 'Poppins Light';
  src: url(../../assets/fonts/poppins/Poppins-Light.ttf);
}

@font-face {
  font-family: 'Poppins Bold';
  src: url(../../assets/fonts/poppins/Poppins-Bold.ttf);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #022222;
  background-image: url("../../assets/images/background-texture.png");
  background-repeat: repeat;
  background-size: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection {
  background-color: #e2af06;
}

::selection {
  background-color: #e2af06;
}

h1 {
  font-size: 1.875rem;
  font-family: "Noe Display Black", serif;
  line-height: 37px;
  color: #FFFFFF;
}

h2 {
  font-size: 1.5rem;
  font-family: "Noe Display Black", serif;
  line-height: 22px;
  color: #FFFFFF;
}

h3 {
  font-size: 0.99rem;
  font-family: "Noe Display Bold", serif;
  line-height: 26px;
  color: #FFFFFF;
}

h4 {
  font-size: 0.875rem;
  font-family: "Noe Display Bold", serif;
  line-height: 22px;
  color: #FFFFFF;
}

a {
  font-size: 0.75rem;
  line-height: 18px;
  font-family: "Poppins Light", Arial, sans-serif;
  color: #FFFFFF;
}

p {
  line-height: 18px;
  font-size: 0.75rem;
  color: #FFFFFF;
  font-family: "Poppins Light", Arial, sans-serif;
}

span {
  line-height: 18px;
  color: #FFFFFF;
  font-size: 10px;
  font-family: "Poppins Light", Arial, sans-serif;
}

strong {
  line-height: 18px;
  font-size: 0.75rem;
  color: #FFFFFF;
  font-family: "Poppins Bold", Arial, sans-serif;
  display: block;
}

img {
  max-width: 100%;
  width: 100%;
}

#content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 640px) {
  h1 {
    font-size: 3.75rem;
    line-height: 64px;
  }
  h2 {
    font-size: 2.375rem;
    line-height: 37px;
  }
  h3 {
    font-size: 1.375rem;
    line-height: 22px;
  }
  h4 {
    font-size: 1rem;
    line-height: 22px;
  }
  a {
    font-size: 1rem;
  }
  p {
    font-size: 1rem;
    line-height: 22px;
  }
  strong {
    font-size: 1rem;
    line-height: 22px;
  }
  a {
    font-size: 1rem;
  }
}

.tag-category {
  padding: 11px 20px;
  background-color: #F9C722;
  color: #000;
  font-family: "Poppins Bold", Arial, sans-serif;
  display: inline-block;
  margin-bottom: 20px;
}

.link-button {
  font-size: 0.75rem;
  line-height: 18px;
  font-family: "Poppins Light", Arial, sans-serif;
  color: #FFFFFF;
  display: inline-block;
}

.link-button:hover, .link-button:active {
  color: #F9C722;
}

.decoration {
  color: #F9C722;
}

.card {
  border: 1px solid #3E3E3E;
  border-right: none;
  padding: 20px 14px;
  width: 40%;
  margin-bottom: 20px;
}

.card:last-child {
  border-right: 1px solid #3E3E3E;
}

.card img.icon {
  width: 17%;
  margin: 15px 0;
}

.card h3 {
  padding-bottom: 5px;
}

.card p {
  padding-top: 5px;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
  grid-gap: 20px;
}

.project .image-projet {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.project .content-summary .summary {
  padding-bottom: 20px;
}

.project .content-summary .title-project {
  padding-bottom: 25px;
}

#tools .tool-item-container {
  padding: 17px 20px;
  border: 1px solid #3E3E3E;
  border-bottom: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-collapse: collapse;
}

#tools .tool-item-container:last-child {
  border-bottom: 1px solid #3E3E3E;
}

@media screen and (min-width: 801px) {
  .link-button {
    font-size: 1rem;
  }
  .project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 0;
  }
  .project .image-projet,
  .project .content-summary {
    -ms-flex-preferred-size: 500px;
        flex-basis: 500px;
  }
  .project .content-summary {
    padding-left: 10px;
  }
  .project:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

header.header {
  background: rgba(2, 34, 34, 0.3);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  padding: 10px 20px;
  border-bottom: 1px solid #3E3E3E;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 111;
}

header.header .burger-menu {
  height: 15px;
  width: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

header.header .burger-menu .burger-menu-line {
  display: block;
  width: 100%;
  height: 20%;
  background-color: #FFFFFF;
}

header.header .burger-menu.active .burger-menu-line:first-child {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

header.header .burger-menu.active .burger-menu-line:last-child {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

header.header img.logo {
  display: block;
  margin: 0 auto;
  width: 70px;
}

nav#menu {
  background: rgba(2, 34, 34, 0.3);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  position: fixed;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  display: none;
  border: 1px solid #3E3E3E;
  z-index: 111;
}

nav#menu ul li {
  margin: 40px 0;
  text-align: start;
}

nav#menu ul li a {
  font-size: 30px;
  font-family: "Noe Display Black", serif;
}

nav#menu.active {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 801px) {
  img.logo {
    display: block;
    margin: 0 auto;
    width: 100px;
  }
  nav#menu {
    width: 30%;
  }
}

footer {
  background-color: #022222;
  background-image: url("../../assets/images/background-texture.png");
  background-repeat: repeat;
  background-size: auto;
  padding: 10px;
}

footer p {
  text-align: center;
  font-size: 0.6875rem;
}

@media screen and (min-width: 801px) {
  footer p {
    font-size: 1rem;
  }
}

aside.sidebar {
  display: none;
}

main.main {
  background-color: #022222;
  background-image: url("../../assets/images/background-texture.png");
  background-repeat: repeat;
  background-size: auto;
  padding: 0 20px;
}

#section-hero-banner {
  padding: 50px 0;
}

#section-hero-banner h1 {
  padding-top: 22px;
  font-size: 48px;
  line-height: 55px;
}

#section-hero-banner h4 {
  color: #F9C722;
  letter-spacing: 1px;
  padding-bottom: 20px;
}

#section-hero-banner a {
  margin-top: 20px;
}

#cards-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 801px) {
  main.main {
    padding: 0;
  }
  main.main #section-hero-banner {
    padding: 13vh 0;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
  }
  main.main #section-hero-banner h1 {
    font-size: 90px;
    line-height: 84px;
  }
  main.main #cards-hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    padding: 0;
  }
  main.main #section-projects {
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1264px) {
  main.main #section-hero-banner {
    max-width: 60%;
    width: 100%;
    margin: 0 auto;
  }
}

#content .container-page {
  padding: 0 20px;
}

#content .container-page .heading-page {
  margin-top: 50px;
  position: relative;
}

#content .container-page .heading-page img.heading-image {
  width: 100%;
  max-width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

#content .container-page .heading-page h1.heading-title {
  padding: 0 20px;
  padding-bottom: 20px;
  position: absolute;
  bottom: 0;
}

#content .container-page .heading-page .tag-category {
  position: absolute;
  top: 10px;
  right: 10px;
}

#content .container-page .meta-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px 0 20px 0;
}

#content .container-page .meta-page .meta-item {
  text-transform: uppercase;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

#content .container-page .meta-page .meta-item span {
  font-weight: normal;
}

#content .container-page .meta-page .meta-item p {
  color: #FFFFFF;
  font-family: "Poppins Bold", Arial, sans-serif;
}

#content .container-page .content-page h2, #content .container-page .content-page h3, #content .container-page .content-page h4, #content .container-page .content-page h5, #content .container-page .content-page h6, #content .container-page .content-page p img, #content .container-page .content-page img {
  margin: 15px 0;
}

@media screen and (min-width: 801px) {
  #content .container-page {
    width: 70%;
    margin: 0 auto;
  }
  #content .container-page .heading-page {
    margin-top: 90px;
  }
  #content .container-page .heading-page img.heading-image {
    height: 500px;
  }
  #content .container-page .heading-page h1.heading-title {
    padding: 0 50px;
    padding-bottom: 50px;
  }
  #content .container-page .heading-page .tag-category {
    top: 30px;
    right: 30px;
  }
  #content .container-page .meta-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 30px 0 50px 0;
  }
  #content .container-page .meta-page .meta-item {
    text-transform: uppercase;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  #content .container-page .meta-page .meta-item span {
    font-size: 14px;
  }
  #content .container-page .content-page h2, #content .container-page .content-page h3, #content .container-page .content-page h4, #content .container-page .content-page h5, #content .container-page .content-page h6, #content .container-page .content-page p img, #content .container-page .content-page img {
    margin: 20px 0;
  }
  #content .container-page .content-page img, #content .container-page .content-page p img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 500px;
    margin: 20px;
    display: block;
    margin: 0 auto;
  }
  #content .container-page .content-page .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #content .container-page .content-page .gallery img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 500px;
    margin: 20px;
  }
}
/*# sourceMappingURL=index.css.map */