{{ define "head" }} {{ partial "head.html" . }} {{ end }}
{{ define "main" }}
  <div class="container-page">
    <div
      class="heading-page"
      style="background: linear-gradient(180deg, rgba(2, 28, 28, 0.18) 0%, #021D1D 100%),  url('{{ .Params.thumbnail }}') no-repeat; background-size: cover;;"
    >
      <div class="category-header">
        <a href="/liste-d-outil-que-j-utilise/" class="tag-category">Outils</a>
      </div>
      <h1 class="heading-title">{{ .Params.Title }}</h1>
    </div>
    <div class="meta-page">
      <div class="meta-item type">
        <span>Type</span>
        <p>{{ .Params.Type }}</p>
      </div>
      <div class="meta-item published">
        <span>Publié</span>
        <p>{{ .Date.Format "2 Jan 2006" }}</p>
      </div>
    </div>
    <div class="content-page">
      <div id="tools">
        {{ range .Params.list }}
          <div class="tool-item-container">
            <img
              class="tool-item-logo"
              src="{{ .logo }}"
              alt="{{ .tool }} - {{ .typetool }}"
            />
            <div class="tool-item-text">
              <p class="tool-item-title">{{ .tool }}</p>
              <p class="tool-item-type">{{ .typetool }}</p>
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
