footer{
    background-color: $color-primary-dark;
    padding: 10px;
    
    p{
        text-align: center;
        font-size: 0.6875rem;
    }
}

@media screen and (min-width:640px){
    footer{
        background-color: $color-primary-dark;
      
        p{
            text-align: center;
            font-size: 0.8rem;
        }
    }
}