header.header {
  background: rgba($color-primary-dark, 0.3);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  padding: 10px 20px;
  border-bottom: $border;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
  z-index: 111;

  .header-logo {
    align-self: center;
    flex-grow: 4;


    img.logo {
      display: block;
      margin: 0 auto;
      width: 70px;
    }
  }

  .burger-menu {
    height: 15px;
    width: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;

    .burger-menu-line {
      display: block;
      width: 100%;
      height: 20%;
      background-color: $color-primary-light;
    }
    &.active .burger-menu-line {
      &:first-child {
        transform: translateY(-5px);
      }
      &:last-child {
        transform: translateY(5px);
      }
    }
  }
}
.sticky{
  position: sticky;
  top: 0;
}
nav#menu {
  background: rgba($color-primary-dark, 0.3);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: none;
  border: $border;
  z-index: 111;

  ul.menu-links li.menu-item{
    margin: 40px 0;
    text-align: start;

    a.menu-link-item{
      font-size: 30px;
      font-family: $heading-black;
      color: $color-primary-light;
    }
  }

  ul.social-network{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    li.social-item{
      margin: 40px;

      a svg{
        $size: 25px;
        height: $size;
        width: $size;
        fill: $color-primary-light;
        transition: $transition;

        &:hover{
          fill: $color-primary;
        }
      }
    }
  }

  &.active {
    position: fixed;
    display: flex;
  }
}

@media screen and (min-width: 801px) {
  img.logo {
    display: block;
    margin: 0 auto;
    width: 100px;
  }
  nav#menu {
    width: 30%;
  }
}
