header.header{
    background-color: $color-primary-dark;
    padding: 20px;
    border-bottom: 1px solid white ;
    display: flex;
    flex-flow: row;

    .burger-menu{
        width: 50px;
        background-color: white;
    }

    img.logo{
        display: block;
        margin: 0 auto;
        width: 17%;
    }
}