header.header{
    background-color: $color-primary-dark;
    padding: 20px 0;
    border-bottom: $border;
    position: fixed;
    width: 100%;
    background: rgba( 0, 34, 34, 0.30 );
    backdrop-filter: blur( 16px );
    -webkit-backdrop-filter: blur( 16px );

    img.logo{
        display: block;
        margin: 0 auto;
        width: 10%;
    }
}