{{ define "head" }}
    {{ partial "head.html" . }}
{{ end }}


{{ define "main" }}
{{ partial "sidebar.html" . }}
{{ with .Params }}
    

    <div class="container-page">
        <div class="heading-page">
            <img class="heading-image" src="{{ .thumbnail }}" alt="{{ .thumb_title }}" title="{{ .thumb_title }}">
            <h1 class="heading-title">{{.Title}}</h1>
            <a href="#" class="tag-category">{{.categories}}</a>

        </div>
        <div class="meta-page">
            <div class="meta-item type">
                <span>Type</span>
                <p>Article</p>
            </div>
            <div class="meta-item published">
                <span>Publié</span>
                <p>{{ dateFormat "Monday, Jan 2, 2006" .Date  }}</p>
            </div>
            <div class="meta-item update">
                <span>Mis à jour</span>
                <p>{{ dateFormat "Monday, Jan 2, 2006" .Lastmod }}</p>
            </div>
        </div>
        {{ end }}
        <div class="content-page">
            {{.Content}}
        </div>
    </div>
{{ end }}