{{ define "head" }}
    {{ partial "head.html" . }}
{{ end }}


{{ define "main" }}
{{ partial "sidebar.html" . }}

<div class="container-page" id="about">
    <div class="heading">
        <div class="heading-text">
            <a href="/a-propos-de-moi/" class="tag-category">à propos de moi</a>
            <h1 class="heading-text-title">J'me présente, je m'appelle Quentin</h1>
            <p class="heading-text-description">
                {{ .Content }}
            </p>
            <div class="heading-text-follow">
                <h4>Me suivre</h4>
                <ul class="heading-text-follow-rs">
                    {{ range .Params.reseaux }}
                    <li><a href="{{.link}}"><i class="{{.logo}}"></i></a></li>    
                    {{ end }}
                </ul>
            </div>
        </div>
        <img class="about-image" src="{{.Params.ppicture}}" alt="">
    </div>
    <div class="about">
        <div class="about-content experience">
            <h2 class="about-content-title">Expérience</h2>
            <p class="about-content-subtitle">Pour en savoir plus sur moi</p>
            {{ range .Params.experience }}
            <div class="about-item">
                <p class="about-item-date">{{.date}}</p>
                <span class="about-item-diplome">{{.diplome}}</span>
                <p class="about-item-ecole">{{.ecole}}</p>
                <p class="about-item-place"><i class="fas fa-map-marker-alt"></i> {{.lieux}}</p>
            </div>
            {{ end }}
        </div>
        <div class="about-content formation">
            <h2 class="about-content-title">Formation</h2>
            <p class="about-content-subtitle">Mes certificats et qualifications.</p>
            {{ range .Params.formation }}
            <div class="about-item">
                <p class="about-item-date">{{.date}}</p>
                <span class="about-item-diplome">{{.diplome}}</span>
                <p class="about-item-ecole">{{.ecole}}</p>
            </div>
            {{ end }}
        </div>
    </div>

    <div class="contact">
        <h2 class="contact-title">Me contacter</h2>
        <p class="contact-subtitle">Une question, une idée, un projet ?</p>
        <p class="contact-content">Je suis toujours à l'affût de nouveaux projets et idées auxquels je pourrais collaborer, c'est pourquoi ma boîte de réception est toujours ouverte. N'hésites pas à m'envoyer un email pour discuter ensemble !</p>
        <a href="mailto:quentin@garraud.fr" class="tag-category">quentin@garraud.fr</a>
    </div>
</div>
{{ end }}