{{ define "head" }}
    {{ partial "head.html" . }}
{{ end }}


{{ define "main" }}
{{ partial "sidebar.html" . }}
{{ with .Params }}
    
    <div class="container-page">
        <div class="heading-page" style="background: linear-gradient(180deg, rgba(2, 28, 28, 0.18) 0%, #021D1D 100%),  url('{{ .thumbnail }}') no-repeat; background-size: cover;;">
            <div class="category-header">
                <a href="#" class="tag-category">{{.Category}}</a>
            </div>
            <h1 class="heading-title">{{.Title}}</h1>
        </div>
        <div class="meta-page">
            <div class="meta-item type">
                <span>Type</span>
                <p>{{.Type}}</p>
            </div>
            <div class="meta-item published">
                <span>Publié</span>
                <p>{{ .Date  }}</p>
            </div>
            <div class="meta-item update">
                <span>Mis à jour</span>
                <p>{{ .Lastmod }}</p>
            </div>
        </div>
        <div class="content-page">
            <div id="tools">
                {{ range .list }}
                    <div class="tool-item-container">
                        <img class="tool-item-logo" src="{{ .logo }}" alt="{{.tool}} - {{.typetool}}">
                        <div class="tool-item-text">
                            <p class="tool-item-title">{{ .tool }}</p>
                            <p class="tool-item-type">{{ .typetool }}</p>
                        </div>
                    </div>
                {{ end }}
            </div>
        </div>
    </div>
    {{ end }}
{{ end }}