#content{

    .container-page{
        width: 80%;
        margin: 0 auto;
        
        .heading-page{
            margin-top: 50px;
            position: relative;
            
            img.heading-image{
                width: 100%;
                max-width: 100%;
                height: 200px;
                object-fit: cover;
                background: linear-gradient(180deg, rgba(2, 28, 28, 0.18) 0%, #021D1D 100%);
            }
            h1.heading-title{
                padding: 0 20px;
                padding-bottom: 20px;
                position: absolute;
                bottom: 0;
            }
            .tag-category{
                position: absolute;
                top: 10px;
                right: 10px;
            }
        }
        .meta-page{
            display: flex;
            flex-direction: row;
            padding: 10px 0 20px 0;
            
            .meta-item{
                text-transform: uppercase;
                flex-basis: 100%;
                span{
                    font-weight: normal;
                }
                p{
                    color: $color-primary-light;
                    font-family: $body-bold;
                }
            }
        }
        .content-page{
            h2, h3, h4, h5, h6, p img, img{
                margin: 15px 0;
            }
            
        }
    }
}

@media screen and (min-width:801px){
    #content{
        .container-page{

            .heading-page{
                margin-top: 90px;
                
                img.heading-image{
                    height: 500px;
                }
                h1.heading-title{
                    padding: 0 50px;
                    padding-bottom: 50px;
                }
                .tag-category{
                    top: 30px;
                    right: 30px;
                }
            }
            .meta-page{
                display: flex;
                flex-direction: row;
                padding: 20px 0 30px 0;
                
                .meta-item{
                    text-transform: uppercase;
                    flex-basis: 100%;
                    span{
                        font-size: 14px;
                    }
                }
            }
            .content-page{
                h2, h3, h4, h5, h6, p img, img{
                    margin: 20px 0;
                }
                img{
                    object-fit: cover;
                    width: 50%;
                    margin: 20px;
                    display: block;
                    margin: 0 auto;
                }
                .gallery{
                    display: flex;
                    flex-flow: row;
                    justify-content: space-between;

                    img{
                        object-fit: cover;
                        height: 500px;
                        margin: 20px;
                    }
                }
            }
        }
    }
    
}