main.main{
    background-color: $color-primary-dark;
    background-image: url("../../assets/images/background-texture.png");
    background-repeat: repeat;
    background-size: auto;
    padding: 0 20px;
}

#section-hero-banner{
    padding: 50px 0;

    h1{
        padding-top: 22px;
        font-size: 48px;
        line-height: 55px;
    }
    h4{
        color: $color-primary;
        letter-spacing: 1px;
        padding-bottom: 20px;
    }
}

#cards-hero{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

@media screen and (min-width:801px){
    main.main{
        padding: 0;

        #section-hero-banner{
            padding: 13vh 0;
            max-width: 90%;
            width: 100%;
            margin: 0 auto;

            h1{
                font-size: 90px;
                line-height: 84px;
            }
        }
        #cards-hero{
            display: flex;
            flex-flow: row;
            padding: 0;
        }
        #section-projects{
            max-width: 90%;
            width: 100%;
            margin: 0 auto;
        }
    }
}

@media screen and (min-width:1264px){
    main.main{
        #section-hero-banner,
        #section-projects{
            max-width: 60%;
            width: 100%;
            margin: 0 auto;
        }
    }
}
