#section-hero-banner, #cards-hero, #section-projects, #section-outils-que-jutilise, #section-about, #section-bloom, #section-gaupx{
    @include section-params;
}

#section-hero-banner{
    h1{
        padding-top: 22px;
        font-size: 48px;
        line-height: 55px;
    }
    h4{
        color: $color-primary;
        letter-spacing: 1px;
        padding-bottom: 20px;
    }
}

#cards-hero{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#section-projects{
    .project:first-child{
        padding-bottom: 50px;
    }
}

