{{ define "head" }}
    {{ partial "head.html" . }}
{{ end }}

{{ define "main" }}
{{ partial "sidebar.html" . }}
<main class="main">
    <section id="section-hero-banner">
        <a href="/" class="tag-category">Moi c'est Quentin</a>
        <h1 class="section-hero-title">Développeur <span class="decoration">,<br></span> Designer Web</h1>
        <h4 class="section-hero-subtitle">et pas que...</h4>
        <p class="summary">
            Couteau suisse du web, je suis actuellement alerternant chez <strong><a href="https://solidnames.fr/" target="_blank">Solidnames</a></strong>, une entreprise spécialisé dans les nom de domaines internet, ou j’intervient en tant que développeur Front End et étudiant au <strong><a href="https://catalogue.cesi.fr/developpeur-web-2169015/" target="_blank">CESI de Bordeaux</a></strong> dans la formation Développeur Web. Ceci est seulement 1/4 de mes occupation.
        </p>
        <a href="/projets/" class="link-button">Tous mes projets <i class="fas fa-arrow-right"></i></a>
    </section>
    <section id="cards-hero">
        <div class="card" id="card-one-page">
            <img src="../../assets/images/monitor-site-one-page-hero-card.svg" alt="Pictogramme - Site One Page" class="icon">
            <h3>Site One Page</h3>
            <p>
                Je sais créer des sites web, simple efficace afin de présenter une activiter sur une seule page.  
            </p>
        </div>
        <div class="card" id="card-e-commerce">
            <img src="../../assets/images/e-commerce-hero-card.svg" alt="Pictogramme - E-commerce" class="icon">
            <h3>Site e-commerce</h3>
            <p>
                Je met en place un site marchand, sur mesure, afin de digitaliser votre boutique, marque, grace à aux outils adéquates.
            </p>
        </div>
        <div class="card" id="card-design">
            <img src="../../assets/images/design-hero-card.svg" alt="Pictogramme - Design" class="icon">
            <h3>Design</h3>
            <p>
                Je créer votre design sur mesure qui respecte un maximum votre charte graphique.
            </p>
        </div>
        <div  class="card" id="card-seo">
            <img src="../../assets/images/seo-hero-card.svg" alt="Pictogramme - SEO" class="icon">
            <h3>SEO</h3>
            <p>
                Je vous aide à apparaître dans les premières pages de google grace à un réferencement local et à la creation de contenu.
            </p>
        </div>
    </section>
    <section id="section-projects">

        {{ with $.Site.GetPage "section" "articles" }}
        {{ range first 1 .Data.Pages }}
        <div class="project">
            <img class="image-projet" src="{{.Params.thumbnail}}" alt="">
            <div class="content-summary">
                {{ partial "categories.html" .}}
                <a href="{{.Permalink}}"><h2 class="title-project">{{.Title}}</h2></a>
                <p class="summary">{{.Summary}}</p>
                <a href="{{.Permalink}}" class="link-button">Lire l'article <i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
        {{ end }}
        {{ end }}
        {{ with $.Site.GetPage "section" "projets" }}
        {{ range first 1 .Data.Pages }}
        <div class="project">
            <img class="image-projet" src="{{.Params.thumbnail}}" alt="">
            <div class="content-summary">                    
                {{ partial "type-de-projet.html" .}}
                <a href="{{.Permalink}}"><h2 class="title-project">{{.Title}}</h2></a>
                <p class="summary">{{.Summary}}</p>
                <a href="{{.Permalink}}" class="link-button">Regarder le projet <i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
        {{ end }}
        {{ end }}
        {{ with .Site.Params.tool }}
        <div class="project" id="section-outils-que-jutilise">
            <img class="image-projet" src="../../assets/images/image-outils-que-jutilise-old.jpg" alt="">
            <div class="content-summary">
                <a href="/liste-d-outil-que-j-utilise/" class="tag-category">outils que j'utilise</a>
                <h2 class="title-project">Voici une petite liste d’outil que j’utilise tous les jours.</h2>
                <div class="summary" id="tools">
                    {{ range .item }}
                    <div class="tool-item-container">
                        <img class="tool-item-logo" src="{{ .logo }}" alt="{{.name}} - {{.type}}">
                        <div class="tool-item-text">
                            <p class="tool-item-title">{{.name}}</p>
                            <p class="tool-item-type">{{.type}}</p>
                        </div>
                    </div>
                    {{ end }}
                </div>

                <a href="/liste-d-outil-que-j-utilise/" class="link-button">Afficher plus <i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
        {{ end }}
        {{ with .Site.Params.page }}
        {{ range .item }}            
        <div class="project" id="section-{{.id}}">
            <img class="image-projet" src="{{.image}}" alt="{{.title}}" title="{{.title}}">
            <div class="content-summary">
                <a href="{{.url}}" class="tag-category">{{.tag}}</a>
                <h2 class="title-project">{{.title}}</h2>
                <p class="summary">{{.summary}}</p>
                <a href="{{.link}}" class="link-button">{{.cta}}  {{ if .icon }}<i class="{{.icon}}"></i>{{ end }}</a>
            </div>
        </div>
        {{ end }}
        {{ end }}
    </section>
</main>
{{ end }}