{{ define "head" }}
    {{ partial "head.html" . }}
{{ end }}


{{ define "main" }}

<section id="section-hero-banner">
    <a href="#" class="tag-category">Moi c'est Quentin</a>
    <h1>Développeur <span class="decoration">,</span> Designer Web</h1>
    <h4>et pas que...</h4>
    <p  class="summary">
        Couteau suisse du web,
        je suis actuellement alerternant chez <strong><a href="https://solidnames.fr/" target="_blank">Solidnames</a></strong>, une entreprise spécialisé dans les nom de domaines internet, ou j’intervient en tant que développeur Front End et étudiant au <strong><a href="https://catalogue.cesi.fr/developpeur-web-2169015/" target="_blank">CESI de Bordeaux</a></strong> dans la formation Développeur Web. Ceci est seulement 1/4 de mes occupation.
    </p>
    <a href="#" class="link-button">Télécharger mon CV -></a>
</section>
<section id="cards-hero">
    <div class="card" id="card-one-page">
        <img src="../../assets/images/monitor-site-one-page-hero-card.svg" alt="Pictogramme - Site One Page" class="icon">
        <h3>Site One Page</h3>
        <p>
            Je sais créer des sites web, simple efficace afin de présenter une activiter sur une seule page.  
        </p>
    </div>
    <div class="card" id="card-e-commerce">
        <img src="../../assets/images/e-commerce-hero-card.svg" alt="Pictogramme - E-commerce" class="icon">
        <h3>Site e-commerce</h3>
        <p>
            Je met en place un site marchand, sur mesure, afin de digitaliser votre boutique, marque, grace à aux outils adéquates.
        </p>
    </div>
    <div class="card" id="card-design">
        <img src="../../assets/images/design-hero-card.svg" alt="Pictogramme - Design" class="icon">
        <h3>Design</h3>
        <p>
            Je créer votre design sur mesure qui respecte un maximum votre charte graphique.
        </p>
    </div>
    <div  class="card" id="card-seo">
        <img src="../../assets/images/seo-hero-card.svg" alt="Pictogramme - SEO" class="icon">
        <h3>SEO</h3>
        <p>
            Je vous aide à apparaître dans les premières pages de google grace à un réferencement local et à la creation de contenu.
        </p>
    </div>
</section>
<section id="section-projects">
    <div class="project" id="project-e-commerce">
        <img src="../../assets/images/e-commerce-image-project.jpg" alt="Image du projet e-commerce">
        <a href="#" class="tag-category">e-commerce</a>
        <h2 class="title-project">Une marque étique et écoresponsable</h2>
        <p class="summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa, semper augue enim at condimentum purus id et. Enim eu lacus eu scelerisque. Purus malesuada ut curabitur proin nec. Eget pulvinar tellus felis mi adipiscing vitae ultricies nunc vel.</p>
        <a href="#" class="link-button">Afficher plus -></a>
    </div>
    <div class="project" id="project-one-page">
        <img src="../../assets/images/one-page-image-project.jpg" alt="Image du projet one-page">
        <a href="#" class="tag-category">site one-page</a>
        <h2 class="title-project">Une entreprise hors du commun</h2>
        <p class="summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa, semper augue enim at condimentum purus id et. Enim eu lacus eu scelerisque. Purus malesuada ut curabitur proin nec. Eget pulvinar tellus felis mi adipiscing vitae ultricies nunc vel.</p>
        <a href="#" class="link-button">Afficher plus -></a>
    </div>
</section>
<section id="section-outils-que-jutilise">
    <img src="../../assets/images/image-outils-que-jutilise.jpg" alt="">
    <a href="#" class="tag-category">outils que j'utilise</a>
    <h2 class="title-project">Voici une petite liste d’outil que j’utilise tous les jours.</h2>
    <table>
        <tr>
            <td class="techno">Visual Studio Code</td>
            <td class="techno-type">IDE</td>
        </tr>
        <tr>
            <td class="techno">Figma</td>
            <td class="techno-type">Design-Prototypage</td>
        </tr>
        <tr>
            <td class="techno">Wordpress</td>
            <td class="techno-type">CMS</td>
        </tr>
        <tr>
            <td class="techno">Woocomerce</td>
            <td class="techno-type">E-commerce</td>
        </tr>
        <tr>
            <td class="techno">Spotify</td>
            <td class="techno-type">Musique</td>
        </tr>
     </table>
    <a href="" class="link-button">Afficher plus -></a>
</section>
<section id="section-about">
    <img src="../../assets/images/section-about-profil-picture.jpg" alt="">
    <a href="#" class="tag-category">à propos de moi</a>
    <h2 class="title-project">Quentin GARRAUD</h2>
    <p class="summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Risus risus pharetra in lacus mollis a nunc cras. Nulla viverra diam et mauris enim lacus, convallis. Nec in laoreet nunc semper leo est, laoreet magna arcu. Egestas elementum turpis arcu auctor ut luctus iaculis. Nunc in diam lacus, non nulla. At adipiscing ultrices nam eget. Varius in non condimentum lacus. Egestas a duis etiam at arcu vulputate. Elit, risus elementum consectetur est. Non pellentesque lorem arcu purus fames ridiculus vitae bibendum elit.Egestas elementum turpis arcu auctor ut luctus iaculis. Nunc in diam lacus, non nulla. At adipiscing ultrices</p>
    <a href="#" class="link-button">Afficher plus -></a>
</section>
<section id="section-bloom">
    <img src="../../assets/images/section-bloom-quentin.jpg" alt="">
    <a href="#" class="tag-category">ma marque de vêtement</a>
    <h2 class="title-project">Bloom Clothing, ma marque de vêtement écoresponsable</h2>
    <p class="summary">En 2020, j’ai décidé de me lancer dans un nouveau challenge, lancer ma propre marque de vêtement. Bloom est une marque de vêtement écoresponsable qui a pour objectif d’utiliser que des produits naturel et d’utiliser des textiles avec une certification au minimum.</p>
    <a href="#" class="link-button">En savoir plus  -></a>
</section>
<section id="section-gaupx">
    <img src="../../assets/images/section-gaupx-image.jpg" alt="">
    <a href="#" class="tag-category">mon projet musical</a>
    <h2 class="title-project">GauPx, pour le plus grand bonheur de vos oreils.</h2>
    <p class="summary">Une grande partie de ma vie est la musique, je créer et compose des musiques de style électronique depuis de nombreuses années. J’aime partager la beauté de la musique à travers des créations musicales et les retranscrires en live.</p>
    <a href="#" class="link-button">En savoir plus  -></a>
</section>
{{ end }}