li.tag-category-list {
  list-style: none;

  .tag-category {
    padding: 8px 15px;
    background-color: $color-primary;
    color: $color-black;
    font-family: $body-bold;
    display: inline-block;
    margin-bottom: 20px;
    transition: $transition;

    &:hover {
      background-color: darken($color-primary, 10);
    }
  }
}

.link-button {
  $size: 14px;

  @include link-mobile;
  display: flex;
  align-items: center;
  transition: $transition;

  svg {
    transition: $transition;
    margin-left: 5px;
    height: $size;
    width: $size;
    fill: $color-primary-light;

    &:hover {
      fill: $color-primary;
      transform: translate(5px, 5px);
    }
  }

  &:hover {
    color: $color-primary;

    svg {
      fill: $color-primary;
      transform: translate(5px, 0px);
    }
  }
}

.decoration {
  color: $color-primary;
  font-size: inherit;
}

.card {
  border: $border;
  padding: 20px 14px;
  width: 40%;
  margin-bottom: 20px;

  img.icon {
    width: 17%;
    margin: 15px 0;
  }
  h3 {
    padding-bottom: 5px;
    font-size: 1.3rem;
  }
  p {
    padding-top: 5px;
  }
}

.project {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  grid-gap: 20px;

  .image-projet {
    height: 200px;
    object-fit: cover;
  }

  .content-summary {
    .summary {
      padding-bottom: 20px;
    }
    .title-project {
      padding-bottom: 25px;
    }
  }
}

#tools {
  .tool-item-container {
    padding: 12px;
    border: $border;
    border-bottom: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &:last-child {
      border-bottom: $border;
    }
    img.tool-item-logo {
      height: 20px;
      width: auto;
      margin-right: 8px;
    }

    .tool-item-text {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }
  }
}
ul.social-network {
  display: flex;
  flex-direction: row;

  li.social-item {
    a svg {
      fill: $color-primary-light;
      transition: $transition;

      &:hover {
        fill: $color-primary;
      }
    }
  }
}

@media screen and (min-width: 801px) {
  .tag-category {
    padding: 11px 20px;
  }

  .link-button {
    @include link-desktop;

    $size: 18px;

    svg {
      height: $size;
      width: $size;
    }
  }
  #tools {
    .tool-item-container {
      img.tool-item-logo {
        height: 20px;
        width: auto;
      }

      .tool-item-type {
        font-size: 0.9rem;
      }
    }
  }
  .card {
    border-right: none;

    &:last-child {
      border-right: $border;
    }
  }

  .project {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px 0;

    .image-projet {
      height: 400px;
      width: 500px;
    }

    .image-projet,
    .content-summary {
      flex-basis: 500px;
    }
    .content-summary {
      padding-left: 10px;
    }
    &:nth-child(even) {
      flex-direction: row-reverse;
    }
  }
}
