body{
    background-color: $color-primary-dark;
    background-image: url("../../assets/images/background-texture.png");
    background-repeat: repeat;
    background-size: auto;
    box-sizing: border-box;
}
::selection {
    background-color: darken($color-primary, 10%);
}

h1{
    @include h1-mobile;
}
h2{
    @include h2-mobile;
}
h3{
    @include h3-mobile;
}
h4{
    @include h4-mobile;
}
a{
    @include link-mobile;
    color: $color-primary;
}
p{
    @include body-mobile;
    font-family: $body-light;
}
span{
    line-height: 18px;
    color: $color-primary-light;
    font-size: 10px;
    font-family: $body-light;
}
strong{
    @include body-mobile;
    font-family: $body-bold;
    display: inline-block;
}
img{
    max-width: 100%;
    width: 100%;
}

#content{
    display: flex;
    
}


@media screen and (min-width:640px){
    h1{
        @include h1-desktop;
    }
    h2{
        @include h2-desktop;
    }
    h3{
        @include h3-desktop;
    }
    h4{
        @include h4-desktop;
    }
    a{
        @include link-desktop;
    }
    p{
        @include body-desktop;
    }
    strong{
        @include body-desktop;
    }
    a{
        @include link-desktop;
    }
    ul li{
        @include body-desktop;
    }
}

