{{ define "head" }}
    {{ partial "head.html" . }}
{{ end }}


{{ define "main" }}
{{ partial "sidebar.html" . }}
    <div class="container-page">
        <h1 class="heading-title harchive">Tous les <span class="term">projets</span>.</h1>
        <div class="content-page">
            {{ range .Pages }}
            <div class="project">
                <img class="image-projet" src="{{.Params.thumbnail}}" alt="{{.Title}}" title="{{.Title}}">
                <div class="content-summary">
                    {{ partial "type-de-projet.html" .}}
                    <a href="{{.Permalink}}"><h2 class="title-project">{{.Title}}</h2></a>
                    <p class="summary">{{.Summary}}</p>
                    <a href="{{.Permalink}}" class="link-button">Regarder le projet <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
{{ end }}