{{ define "head" }}
    {{ partial "head.html" . }}
{{ end }}

{{ define "main" }}
{{ partial "sidebar.html" . }}
    <div class="container-page">
        <div class="heading-page">
            <img class="heading-image" src="{{ .Params.thumbnail }}" alt="{{ .Params.thumb_title }}" title="{{ .Params.thumb_title }}">
            <h1 class="heading-title">{{.Params.Title}}</h1>
            {{ partial "type-de-projet.html" .}}
        </div>
        <div class="meta-page">
            <div class="meta-item type">
                <span>Type de page</span>
                <p><a href="/projets/"><strong>Projet</strong></a></p>
            </div>
            <div class="meta-item published">
                <span>Type de projet</span>

                {{ $taxonomy := "type-de-projet" }}
                {{ with .Param $taxonomy }}
                    {{ range $index, $category := . }}
                    {{ with $.Site.GetPage (printf "/%s/%s" $taxonomy $category) -}}
                    <p><a href="{{ .Permalink | absURL }}"><strong>{{ $category | urlize }}</strong></a></p>
                    {{- end -}}
                    {{- end -}}
                {{ end }}
                <p>{{ .Params.type_de_projet  }}</p>
            </div>
            <div class="meta-item update">
                <span>Mis à jour</span>
                <p>{{ .Params.client }}</p>
            </div>
        </div>
        <div class="content-page">
            <div class="client-link">
                <p><strong>Lien du site :</strong> <a href="{{.Params.site}}"  target="_blank">{{.Params.site}}</a></p>
            </div>
            <div class="content">
                {{.Content}}
            </div>

            <div class="view-images">
                <h2 class="section-view-title">Vue desktop</h2>
                <div class="image-project">
                {{ range .Params.desktop }}
                    <img class="image-project-desktop" src="{{.image}}" alt="{{.title}}" title="{{.title}}">
                {{ end }}
                </div>
            </div>
            <div class="view-images">
                <h2 class="section-view-title">Vue mobile</h2>
                <div class="image-project">
                {{ range .Params.mobile }}
                    <img class="image-project-mobile" src="{{.image}}" alt="{{.title}}" title="{{.title}}">
                {{ end }}
                </div>
            </div>
        </div>
    </div>
{{ end }}