body{
    background-color: $color-primary-dark;
}

h1{
    @include h1-mobile;
}
h2{
    @include h2-mobile;
}
h3{
    @include h3-mobile;
}
h4{
    @include h4-mobile;
}
a{
    @include link-mobile;
}
p{
    @include body-mobile;
    font-family: $body-light;
}
strong{
    @include body-mobile;
    font-family: $body-bold;
}
img{
    max-width: 100%;
    width: 100%;
}
#content{
    display: flex;
    
}


@media screen and (min-width:640px){
    h1{
        @include h1-desktop;
    }
    h2{
        @include h2-desktop;
    }
    h3{
        @include h3-desktop;
    }
    h4{
        @include h4-desktop;
    }
    a{
        @include link-desktop;
    }
    p{
        @include body-desktop;
    }
    strong{
        @include body-desktop;
    }
    a{
        @include link-desktop;
    }
}

