@mixin h1-mobile {
    font-size: $h1-font-size-mobile;
    font-family: $heading-black;
    line-height: 37px;
    color: $color-primary-light;
}
h1{
    @include h1-mobile;
}


@mixin h2-mobile {
    font-size: $h2-font-size-mobile;
    font-family: $heading-black;
    line-height: 22px;
    color: $color-primary-light;
}
h2{
    @include h2-mobile;
}


@mixin h3-mobile {
    font-size: $h3-font-size-mobile;
    font-family: $heading-bold;
    line-height: 26px;
    color: $color-primary-light;
}
h3{
    @include h3-mobile;
}


@mixin h4-mobile {
    font-size: $h4-font-size-mobile;
    font-family: $heading-bold;
    line-height: 22px;
    color: $color-primary-light;
}
h4{
    @include h4-mobile;
}

@mixin link {
    font-size: $link-font-size-mobile;
    line-height: $line-height-mobile;
    font-family: $body-light;
    color: $color-primary-light;
}
a{
    @include link;
}

@mixin body{
    line-height: 18px;
    font-size: $body-font-size-mobile;
    color: $color-primary-light;
}
p{
    @include body;
    font-family: $body-light;
}

strong{
    @include body;
    font-family: $body-bold;
}
img{
    max-width: 100%;
    width: 100%;
}




table{
    color: $color-primary-light;
    margin: 0px 0 20px 0;

    tbody{
        
        .techno-type{
            font-size: $caption-font-size-mobile;
            font-family: $body-light;
        }
        .techno{
            font-size: $body-font-size-mobile;                
            font-family: $body-light;
        }
        td{
            border: $border;
            width: 100%;
            padding: 17px 15px;
        }
    }
}