.tag-category{
    padding: 11px 20px;
    background-color: $color-primary;
    color: $color-black;
    font-family: $body-bold;
    display: inline-block;
    margin: 20px 0;
}

.link-button{
    @include link-mobile;
    display: inline-block;

    &:hover, &:active{
        color: $color-primary;
    }
}


.decoration{
    color: $color-primary;
}

.card{
    border: $border;
    padding: 20px 14px;
    width: 40%;
    margin-bottom: 20px;

    img.icon{
        width: 17%;
        margin: 15px 0;
    }
    h3{
        padding-bottom: 5px;
    }
    p{
        padding-top: 5px;
    }
}

.project{
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;

    .image-projet{
        width: 100%;
        height: 300px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-right: 50px;
    }

    .content-summary{
        .summary{
            padding-bottom: 20px;   
        }
        .title-project{
            padding-bottom: 25px;
        }
    }
}


@media screen and (min-width:640px){
    .link-button{
        @include link-desktop;
        margin-top: 20px;
    }

    .project{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 150px;

        .content-summary, .image-projet{
            width: 40vw;
            margin: 0 20px;
            height: auto;
        }

        &:nth-child(even){
            flex-direction: row-reverse;
        }
    }
}

@media screen and (max-width:992px){
    #section-hero-banner{
    
        h1{
            font-size: 60px;
            line-height: 64px;
        }
    }
}

@media screen and (max-width:440px){
    #section-hero-banner{
    
        h1{
            font-size: 46px;
            line-height: 50px;
        }
    }
}
@media screen and (max-width:340px){
    #section-hero-banner{
    
        h1{
            font-size: 42px;
            line-height: 45px;
        }
    }
}