.tag-category{
    padding: 11px 20px;
    background-color: $color-primary;
    color: $color-black;
    font-family: $body-bold;
    display: inline-block;
    margin-bottom: 20px;
}

.link-button{
    @include link-mobile;
    display: inline-block;

    &:hover, &:active{
        color: $color-primary;
    }
}


.decoration{
    color: $color-primary;
}

.card{
    border: $border;
    padding: 20px 14px;
    width: 40%;
    margin-bottom: 20px;

    img.icon{
        width: 17%;
        margin: 15px 0;
    }
    h3{
        padding-bottom: 5px;
    }
    p{
        padding-top: 5px;
    }
}

.project{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    grid-gap: 20px;

    .image-projet{
        height: 300px;
        object-fit: cover;
    }

    .content-summary{
        .summary{
            padding-bottom: 20px;   
        }
        .title-project{
            padding-bottom: 25px;
        }
    }
}

@media screen and (min-width:801px){
    .link-button{
        @include link-desktop;
    }
    
    .project{
        margin-top: 50px;
        margin-bottom: 100px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
        align-items: center;
        justify-items: center;
        justify-content: space-evenly;

        .image-projet{
            display: block;
            margin: 0 auto;
            justify-self: center;
        }
        .content-summary{
            justify-self: center;
        }
    }
}
