.tag-category{
    padding: 11px 20px;
    background-color: $color-primary;
    color: $color-black;
    font-family: $body-bold;
    display: inline-block;
}
.link-button{
    @include link;
    display: inline-block;

    &:hover, &:active{
        color: $color-primary;
    }
}
.decoration{
    color: $color-primary;
}

.card{
    border: $border;
    padding: 20px 14px;
    width: 40%;
    margin-bottom: 20px;

    img.icon{
        width: 17%;
        margin: 15px 0;
    }
    h3{
        padding-bottom: 5px;
    }
    p{
        padding-top: 5px;
    }
}