
@media screen and (max-width:992px){
    .project{
        flex-direction: column;
        &:nth-child(even){
            flex-direction: column;
        }

        .content-summary{
            width: 100%;
        }

        .image-projet{
            width: 100%;
            height: 300px;
        }
    }
}

@media screen and (max-width:340px){
    .card{
        width: 100%;
    }
    
}