@mixin h1-mobile {
    font-size: $h1-font-size-mobile;
    font-family: $heading-black;
    line-height: 37px;
    color: $color-primary-light;
}
@mixin h1-desktop {
    font-size: $h1-font-size-desktop;
    line-height: 64px;
}


@mixin h2-mobile {
    font-size: $h2-font-size-mobile;
    font-family: $heading-black;
    line-height: 22px;
    color: $color-primary-light;
}
@mixin h2-desktop {
    font-size: $h2-font-size-desktop;
    line-height: 37px;
}


@mixin h3-mobile {
    font-size: $h3-font-size-mobile;
    font-family: $heading-bold;
    line-height: 26px;
    color: $color-primary-light;
}
@mixin h3-desktop {
    font-size: $h3-font-size-desktop;
    line-height: 22px;
}


@mixin h4-mobile {
    font-size: $h4-font-size-mobile;
    font-family: $heading-bold;
    line-height: 22px;
    color: $color-primary-light;
}
@mixin h4-desktop {
    font-size: $h4-font-size-desktop;
    line-height: 22px;
}


@mixin body-mobile{
    line-height: 18px;
    font-size: $body-font-size-mobile;
    color: $color-primary-light;
}
@mixin body-desktop{
    font-size: $body-font-size-desktop;
    line-height: 22px;
}


@mixin link-mobile {
    font-size: $link-font-size-mobile;
    line-height: 18px;
    font-family: $body-light;
    color: $color-primary-light;
}
@mixin link-desktop {
    font-size: $link-font-size-desktop;
}


@mixin caption{
    font-family: $body-light;
    font-size: $caption-font-size-mobile;
    line-height: $line-height-mobile;
    color: $color-primary-light;
}

