////// Déclaration des couleurs //////
$color-primary-dark: #022222;
$color-primary: #F9C722;
$color-primary-light: #FFFFFF;
$color-black: #000;
$border: 1px solid #3E3E3E;

////// Déclaration des fonts //////

// Heading
$heading-black: 'Noe Display Black', serif;
$heading-bold: 'Noe Display Bold', serif;
$heading-medium: 'Noe Display Medium' serif;

// Body
$body-light: 'Poppins Light', Arial, sans-serif;
$body-bold: 'Poppins Bold', Arial, sans-serif;


////// Déclaration des tailles //////
$h1-font-size-desktop: 3.75rem;
$h2-font-size-desktop: 2.375rem;
$h3-font-size-desktop: 1.375rem;
$h4-font-size-desktop: 1rem;

$h1-font-size-mobile: 1.875rem;
$h2-font-size-mobile: 1.5rem;
$h3-font-size-mobile: 1rem;
$h4-font-size-mobile: 0.875rem;


$body-font-size-desktop: 1rem;
$body-font-size-mobile: 0.75rem;

$caption-font-size-desktop: 0.875rem;
$caption-font-size-mobile: 0.75rem;

$link-font-size-desktop: 1rem;
$link-font-size-mobile: 0.75rem;

$line-height-desktop: 1.375rem;
$line-height-mobile: 1.125rem;
