////// Déclaration des couleurs
$color-primary-dark: #022222;
$color-primary: #F9C722;
$color-primary-light: #FFFFFF;

////// Déclaration des fonts

// Heading
$heading-black: 'Noe Display Black';
$heading-bold: 'Noe Display Bold';
$heading-medium: 'Noe Display Medium';

// Body
$body-light: 'Poppins Light';
$body-bold: 'Poppins Light';

