{{ define "head" }}
    {{ partial "head.html" . }}
{{ end }}


{{ define "main" }}
{{ partial "sidebar.html" . }}

    <div class="container-page">
        <div class="heading-page">
            <img class="heading-image" src="{{ .Params.thumbnail }}" alt="{{ .Params.thumb_title }}" title="{{ .Params.thumb_title }}">
            <h1 class="heading-title">{{.Params.Title}}</h1>
            {{ partial "categories.html" .}}
            
        </div>
        <div class="meta-page">
            <div class="meta-item type">
                <span>Type</span>
                <p><a href="/articles/"><strong>Article</strong></a></p>
            </div>
            <div class="meta-item published">
                <span>Publié</span>
                <p>{{ .Params.Date  }}</p>
            </div>
            <div class="meta-item update">
                <span>Mis à jour</span>
                <p>{{ .Params.Lastmod }}</p>
            </div>
        </div>
        <div class="content-page">
            {{.Content}}
        </div>
        

    </div>
{{ end }}