<head>
    <meta charset="utf-8">
    <meta name="description" content="{{if .Params.description}}{{.Params.description}}{{else}}{{.Site.Params.description}}{{end}}">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="canonical" href="https://garraud.fr/">

    <title>{{ .Title }} - {{ .Site.Params.slogan }}</title>

    {{ range .Site.Params.plugins.styles}}
        <link rel="stylesheet" href="{{ .URL }}">
    {{ end }}

    <!-- <meta property="og:url" content="">
    <meta property="og:type" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content=""> -->
</head>