@charset "UTF-8";
@font-face {
  font-family: 'Noe Display Black';
  src: url(../../assets/fonts/noe-display/NoeDisplay-Black.ttf);
}

@font-face {
  font-family: 'Noe Display Bold';
  src: url(../../assets/fonts/noe-display/NoeDisplay-Bold.ttf);
}

@font-face {
  font-family: 'Noe Display Medium';
  src: url(../../assets/fonts/noe-display/NoeDisplay-Medium.ttf);
}

@font-face {
  font-family: 'Poppins Light';
  src: url(../../assets/fonts/poppins/Poppins-Light.ttf);
}

@font-face {
  font-family: 'Poppins Bold';
  src: url(../../assets/fonts/poppins/Poppins-Bold.ttf);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #022222;
  background-image: url("../../assets/images/background-texture.png");
  background-repeat: repeat;
  background-size: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection {
  background-color: #e2af06;
}

::selection {
  background-color: #e2af06;
}

h1 {
  font-size: 1.875rem;
  font-family: "Noe Display Black", serif;
  line-height: 37px;
  color: #FFFFFF;
}

h2 {
  font-size: 1.5rem;
  font-family: "Noe Display Black", serif;
  line-height: 26px;
  color: #FFFFFF;
}

h3 {
  font-size: 0.99rem;
  font-family: "Noe Display Bold", serif;
  line-height: 26px;
  color: #FFFFFF;
}

h4 {
  font-size: 0.875rem;
  font-family: "Noe Display Bold", serif;
  line-height: 22px;
  color: #FFFFFF;
}

a {
  font-size: 0.75rem;
  line-height: 18px;
  font-family: "Poppins Light", Arial, sans-serif;
  color: #FFFFFF;
  color: #F9C722;
}

p {
  line-height: 18px;
  font-size: 0.75rem;
  color: #FFFFFF;
  font-family: "Poppins Light", Arial, sans-serif;
}

span {
  line-height: 18px;
  color: #FFFFFF;
  font-size: 10px;
  font-family: "Poppins Light", Arial, sans-serif;
}

strong {
  line-height: 18px;
  font-size: 0.75rem;
  color: #FFFFFF;
  font-family: "Poppins Bold", Arial, sans-serif;
  display: inline-block;
}

img {
  max-width: 100%;
  width: 100%;
}

#content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 640px) {
  h1 {
    font-size: 3.75rem;
    line-height: 64px;
  }
  h2 {
    font-size: 2.375rem;
    line-height: 40px;
  }
  h3 {
    font-size: 1.375rem;
    line-height: 22px;
  }
  h4 {
    font-size: 1rem;
    line-height: 22px;
  }
  a {
    font-size: 1rem;
  }
  p {
    font-size: 1rem;
    line-height: 22px;
  }
  strong {
    font-size: 1rem;
    line-height: 22px;
  }
  a {
    font-size: 1rem;
  }
  ul li {
    font-size: 1rem;
    line-height: 22px;
  }
}

li.tag-category-list {
  list-style: none;
}

li.tag-category-list .tag-category {
  padding: 8px 15px;
  background-color: #F9C722;
  color: #000;
  font-family: "Poppins Bold", Arial, sans-serif;
  display: inline-block;
  margin-bottom: 20px;
}

.link-button {
  font-size: 0.75rem;
  line-height: 18px;
  font-family: "Poppins Light", Arial, sans-serif;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.link-button svg {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-left: 5px;
  height: 14px;
  width: 14px;
  fill: #FFFFFF;
}

.link-button svg:hover {
  fill: #F9C722;
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
}

.link-button:hover {
  color: #F9C722;
}

.link-button:hover svg {
  fill: #F9C722;
  -webkit-transform: translate(5px, 0px);
          transform: translate(5px, 0px);
}

.decoration {
  color: #F9C722;
  font-size: inherit;
}

.card {
  border: 1px solid #3E3E3E;
  padding: 20px 14px;
  width: 40%;
  margin-bottom: 20px;
}

.card img.icon {
  width: 17%;
  margin: 15px 0;
}

.card h3 {
  padding-bottom: 5px;
  font-size: 1.3rem;
}

.card p {
  padding-top: 5px;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
  grid-gap: 20px;
}

.project .image-projet {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.project .content-summary .summary {
  padding-bottom: 20px;
}

.project .content-summary .title-project {
  padding-bottom: 25px;
}

#tools .tool-item-container {
  padding: 12px;
  border: 1px solid #3E3E3E;
  border-bottom: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#tools .tool-item-container:last-child {
  border-bottom: 1px solid #3E3E3E;
}

#tools .tool-item-container img.tool-item-logo {
  height: 20px;
  width: auto;
  margin-right: 8px;
}

#tools .tool-item-container .tool-item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

ul.social-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

ul.social-network li.social-item a svg {
  fill: #FFFFFF;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

ul.social-network li.social-item a svg:hover {
  fill: #F9C722;
}

@media screen and (min-width: 801px) {
  .tag-category {
    padding: 11px 20px;
  }
  .link-button {
    font-size: 1rem;
  }
  .link-button svg {
    height: 18px;
    width: 18px;
  }
  #tools .tool-item-container img.tool-item-logo {
    height: 20px;
    width: auto;
  }
  #tools .tool-item-container .tool-item-type {
    font-size: 0.9rem;
  }
  .card {
    border-right: none;
  }
  .card:last-child {
    border-right: 1px solid #3E3E3E;
  }
  .project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 0;
  }
  .project .image-projet {
    height: 400px;
    width: 500px;
  }
  .project .image-projet,
  .project .content-summary {
    -ms-flex-preferred-size: 500px;
        flex-basis: 500px;
  }
  .project .content-summary {
    padding-left: 10px;
  }
  .project:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

header.header {
  background: rgba(2, 34, 34, 0.3);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  padding: 10px 20px;
  border-bottom: 1px solid #3E3E3E;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 111;
}

header.header .burger {
  width: 40px;
  height: 0px;
  cursor: pointer;
}

header.header .burger span {
  width: 40px;
  height: 4px;
  background-color: transparent;
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: background-color 0.4s ease-out;
  transition: background-color 0.4s ease-out;
}

header.header .burger span::before, header.header .burger span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #FFFFFF;
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
}

header.header .burger span::before {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

header.header .burger span::after {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

header.header .burger.active span {
  background: transparent;
}

header.header .burger.active span::before {
  -webkit-transform: translateY(0px) rotateZ(45deg);
          transform: translateY(0px) rotateZ(45deg);
}

header.header .burger.active span::after {
  -webkit-transform: translateY(0px) rotateZ(-45deg);
          transform: translateY(0px) rotateZ(-45deg);
}

header.header .header-logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
}

header.header .header-logo img.logo {
  display: block;
  margin: 0 auto;
  width: 70px;
}

@media screen and (min-width: 801px) {
  img.logo {
    display: block;
    margin: 0 auto;
    width: 100px;
  }
}

footer {
  background-color: #022222;
  background-image: url("../../assets/images/background-texture.png");
  background-repeat: repeat;
  background-size: auto;
  padding: 20px;
}

footer p {
  text-align: center;
  font-size: 0.6875rem;
}

@media screen and (min-width: 801px) {
  footer p {
    font-size: 1rem;
  }
}

nav#menu {
  background: rgba(2, 34, 34, 0.3);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  position: fixed;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  display: none;
  border: 1px solid #3E3E3E;
  z-index: 111;
}

nav#menu ul.menu-links li.menu-item {
  margin: 40px 0;
  text-align: start;
}

nav#menu ul.menu-links li.menu-item a.menu-link-item {
  font-size: 30px;
  font-family: "Noe Display Black", serif;
  color: #FFFFFF;
  display: inline-block;
  padding-bottom: 15px;
  position: relative;
}

nav#menu ul.menu-links li.menu-item a.menu-link-item:after {
  content: "";
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background: #F9C722;
  -webkit-transition: width 0.4s ease 0s, left 0.4s ease 0s;
  transition: width 0.4s ease 0s, left 0.4s ease 0s;
  width: 0;
}

nav#menu ul.menu-links li.menu-item a.menu-link-item:hover:after {
  width: 100%;
  left: 0;
}

nav#menu ul.social-network {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

nav#menu ul.social-network li.social-item {
  margin: 40px;
}

nav#menu ul.social-network li.social-item a svg {
  height: 25px;
  width: 25px;
}

nav#menu.active {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media screen and (min-width: 801px) {
  nav#menu {
    width: 30%;
  }
}

main.main {
  background-color: #022222;
  background-image: url("../../assets/images/background-texture.png");
  background-repeat: repeat;
  background-size: auto;
  padding: 0 20px;
}

#section-hero-banner {
  padding: 40px 0;
}

#section-hero-banner h1.section-hero-title {
  padding-top: 22px;
  font-size: 48px;
  line-height: 55px;
}

#section-hero-banner h4.section-hero-subtitle {
  color: #F9C722;
  letter-spacing: 1px;
  padding-bottom: 20px;
  padding-top: 10px;
}

#section-hero-banner p.summary {
  max-width: 100%;
  width: 100%;
}

#section-hero-banner a {
  margin-top: 20px;
}

#cards-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#section-projects {
  margin: 50px auto;
}

@media screen and (min-width: 801px) {
  main.main {
    padding: 0;
  }
  main.main #section-hero-banner {
    padding: 100px 0;
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
  }
  main.main #section-hero-banner h1.section-hero-title {
    font-size: 90px;
    line-height: 84px;
  }
  main.main #section-hero-banner h4.section-hero-subtitle {
    font-size: 18px;
  }
  main.main #section-hero-banner p.summary {
    max-width: 60vw;
  }
  main.main #cards-hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    padding: 0;
  }
  main.main #section-projects {
    max-width: 90%;
    width: 100%;
  }
}

@media screen and (min-width: 1264px) {
  main.main #section-hero-banner {
    max-width: 60%;
    width: 100%;
    margin: 0 auto;
  }
  main.main #section-hero-banner p.summary {
    max-width: 40vw;
  }
}

#content .container-page {
  padding: 0 20px;
}

#content .container-page .heading-page {
  margin-top: 50px;
  width: 100%;
  max-width: 100%;
  height: 225px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#content .container-page .heading-page .category-header {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 10px;
}

#content .container-page .heading-page .tag-category {
  margin: 0;
}

#content .container-page .heading-page h1.heading-title {
  margin: 10px;
}

#content .container-page h1.harchive {
  margin: 50px 0;
  text-align: center;
}

#content .container-page h1.harchive span.term {
  color: #F9C722;
  font-size: inherit;
  font-family: inherit;
}

#content .container-page .meta-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px 0 20px 0;
}

#content .container-page .meta-page .meta-item {
  text-transform: uppercase;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

#content .container-page .meta-page .meta-item span {
  font-weight: normal;
}

#content .container-page .meta-page .meta-item p {
  color: #FFFFFF;
  font-family: "Poppins Bold", Arial, sans-serif;
}

#content .container-page .content-page.article-article {
  margin-top: 20px;
}

#content .container-page .content-page ul li {
  line-height: 18px;
  font-size: 0.75rem;
  color: #FFFFFF;
  font-family: "Poppins Light", Arial, sans-serif;
  display: block;
  margin-bottom: 5px;
  margin-left: 10px;
  list-style: inside;
}

#content .container-page .content-page ul li::before {
  content: "●";
  margin-right: 7px;
}

#content .container-page .content-page blockquote {
  border-left: 4px solid #F9C722;
  background-color: #032c2c;
  padding: 10px 8px 8px 8px;
  margin-bottom: 10px;
}

#content .container-page .content-page .view-images .section-view-title {
  margin-bottom: 50px;
  text-align: center;
}

#content .container-page .content-page .client-link {
  margin: 20px 0 20px 0;
}

#content .container-page .content-page .content {
  margin-bottom: 50px;
}

#content .container-page .content-page .view-images .image-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
  width: 100%;
}

@media screen and (min-width: 801px) {
  #content .container-page {
    width: 70%;
    margin: 0 auto;
  }
  #content .container-page .heading-page {
    margin-top: 90px;
    height: 500px;
  }
  #content .container-page .heading-page .category-header {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin: 30px;
  }
  #content .container-page .heading-page h1.heading-title {
    margin: 60px;
  }
  #content .container-page .meta-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 30px 0 50px 0;
  }
  #content .container-page .meta-page .meta-item {
    text-transform: uppercase;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  #content .container-page .meta-page .meta-item span {
    font-size: 14px;
  }
  #content .container-page .content-page p img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 500px;
    margin: 20px;
    display: block;
    margin: 0 auto;
  }
  #content .container-page .content-page .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #content .container-page .content-page .gallery img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 500px;
    margin: 20px;
  }
  #content .container-page .content-page .client-link {
    margin: 20px 0 40px 0;
  }
  #content .container-page .content-page .view-images {
    margin: 100px 0;
  }
  #content .container-page .content-page .view-images .image-project {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #content .container-page .content-page .view-images .image-project img.image-project-desktop {
    max-width: 45%;
    width: 100%;
  }
  #content .container-page .content-page .view-images .image-project img.image-project-mobile {
    max-width: 20%;
    width: 100%;
  }
}

#about .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px 0;
}

#about .heading .heading-text .heading-text-description {
  margin: 20px 0;
}

#about .heading .heading-text .heading-text-follow {
  margin-top: 20px;
}

#about .heading .heading-text .heading-text-follow h4 {
  color: #F9C722;
}

#about .heading .heading-text .heading-text-follow ul.social-network {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#about .heading .heading-text .heading-text-follow ul.social-network li.social-item {
  margin: 25px 25px 0 0;
}

#about .heading .heading-text .heading-text-follow ul.social-network li.social-item a svg {
  height: 18px;
  width: 18px;
}

#about .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
}

#about .about .about-content {
  margin-top: 50px;
}

#about .about .about-content h2.about-content-title {
  margin-bottom: 5px;
}

#about .about .about-content .about-item {
  margin-top: 30px;
}

#about .about .about-content .about-item p.about-item-date {
  margin-bottom: 5px;
}

#about .about .about-content .about-item span.about-item-diplome {
  display: inline-block;
  font-size: 25px;
  color: #F9C722;
  font-family: "Poppins Bold", Arial, sans-serif;
  margin-bottom: 8px;
  line-height: 24px;
}

#about .about .about-content .about-item p.about-item-place {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about .about .about-content .about-item p.about-item-place svg {
  fill: #F9C722;
  height: 18px;
  width: 18px;
}

#about .about .about-content .about-item img {
  width: 50px;
}

#about .contact {
  margin: 50px 0;
  border: 5px solid #F9C722;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about .contact h2 {
  margin-bottom: 5px;
}

#about .contact .contact-content {
  margin: 50px 0;
  width: 100%;
}

#about .contact a {
  font-size: "Poppins Bold", Arial, sans-serif;
}

@media screen and (min-width: 801px) {
  #about .heading {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #about .heading .heading-text {
    -ms-flex-preferred-size: 600px;
        flex-basis: 600px;
  }
  #about .heading .heading-text .heading-text-description {
    margin: 40px 0;
  }
  #about .heading .heading-text .heading-text-follow {
    margin-top: 50px;
  }
  #about .heading .about-image {
    -ms-flex-preferred-size: 500px;
        flex-basis: 500px;
    height: 500px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #about .about {
    margin: 50px 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #about .about .about-content {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  #about .contact .contact-content {
    width: 70%;
    text-align: center;
  }
}

#not-found {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50vh;
}

#not-found h1 {
  text-align: center;
  margin-bottom: 20px;
}
/*# sourceMappingURL=index.css.map */